
// ---------------------------------------------------------------------------------------------------------------------
// DEBUG, OUTPUT & LAYOUT INFO
// ---------------------------------------------------------------------------------------------------------------------

.wrap
    // float: left

    margin: 0
    padding: 0     //Workaround for textarea margin

    width:100%
    height:100%

    // border: 1px solid lightgrey
    // background: yellow

.textarea
	display:block 		//reset from inline
	resize: none;

	overflow-y:auto   	//resets IE
	overflow-x:hidden 	//resets IE

	width: 100%
	height: 100%

	margin: 0 			//remove defaults
	padding: 4px

	border: 0px solid lightgrey
	// background: lightgrey

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

// .div-debugInfo

#id-div-debugInfo
	width: 100%
	height: 100%

	// background-color: yellow

.div-debugInfo-container
	background-color: lightgrey

// ---------------------------------------------------------------------------------------------------------------------
// END
// ---------------------------------------------------------------------------------------------------------------------

