
<!-- --------------------------------------------------------------------------------------------------------------- -->

<head>
  <title>Code Visualizer</title>
</head>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<body></body>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<template name="index">Hello World! :)</template>
<template name="about">about ... </template>

<!-- --------------------------------------------------------------------------------------------------------------- -->