
<!-- --------------------------------------------------------------------------------------------------------------- -->

<head>
    <title>Code Visualizer</title>
</head>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<body>
</body>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<template name="header"> 

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				{{> navbar}}
			</div>
		</div>
	</div>

</template>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<template name="navbar">
	<a class="brand" href="#">CodeViz</a>
	
	<ul class="nav">

		<li><a id="btnHome" href="#">Home</a></li>

		<li><a id="btnEditor" href="#">Editor</a></li>

		<li><a id="btnAbout" href="#">About</a></li>

		<li class="divider-vertical"></li>

		<li><a id="id-btn-execute" href="#">Execute</a></li>

		<!-- <li><button id="id-btn-execute" type="button" class="btn">execute</button></li> -->

	</ul>

	<div id="slider"></div>

</template>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<template name="blank"></template>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<template name="home">
    <h1>Home</h1>
</template>

<template name="about">
    <h1>About</h1>
    {{context}}
</template>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<template name="footer">

</template>

<!-- --------------------------------------------------------------------------------------------------------------- -->
