
// ---------------------------------------------------------------------------------------------------------------------
// SLIDER
// ---------------------------------------------------------------------------------------------------------------------

#slider
	display: inline-block
	margin-top: 13px
	width: 300px

// ---------------------------------------------------------------------------------------------------------------------
// END
// ---------------------------------------------------------------------------------------------------------------------
