
/* ------------------------------------------------------------------ *
 * CUSTOMIZER
 * ------------------------------------------------------------------ */

// ------------------------------------------------------------------ *
// NAV | JAVASCRIPT | BUTTONS
// ------------------------------------------------------------------ *

#ul-nav-js-btns
	margin-right: 10px

	// -------------------------------------------------------------- *
	// JAVASCRIPT | COMPILE
	// -------------------------------------------------------------- *

//ToDo: not-working...
#id-btn-compile :focus, :active, :selected, :visited
	outline: none

// ------------------------------------------------------------------ *
// NAV | TEMPLATE | BUTTONS
// ------------------------------------------------------------------ *

#ul-nav-tmpl-btns
	margin-right: 10px

	// -------------------------------------------------------------- *
	// TEMPLATE | APPLY-BUTTON
	// -------------------------------------------------------------- *

//ToDo: not-working...
#id-btn-apply :focus, :active, :selected, :visited
	outline: none

// ------------------------------------------------------------------ *
// EDITOR | JAVASCRIPT 
// ------------------------------------------------------------------ *

#id-div-js
	//pass

#id-textarea-js
	//pass

// ------------------------------------------------------------------ *
// EDITOR | DATA
// ------------------------------------------------------------------ *

#id-div-data
	//pass

#id-textarea-data
	//pass

// ------------------------------------------------------------------ *
// EDITOR | TMPL
// ------------------------------------------------------------------ *

#id-div-tmpl
	//pass

#id-textarea-tmpl
	//pass

// ------------------------------------------------------------------ *
// EDITOR | HTML
// ------------------------------------------------------------------ *

#id-div-html
	//pass

#id-textarea-html
	//pass

// ------------------------------------------------------------------ *
// RESULT
// ------------------------------------------------------------------ *

#id-div-result
	overflow: scroll
	background-color: white
	max-height: 280px

/* ------------------------------------------------------------------ *
 * END
 * ------------------------------------------------------------------ */