
/* ------------------------------------------------------------------ *
 * CUSTOMIZER
 * ------------------------------------------------------------------ */

#id-div-customizer .wrap
    // margin: 0
    // padding: 0     //Workaround for textarea margin

    // width: 100%
    // height: 100%

    // border: 1px solid lightgrey
    // background: yellow

#id-div-customizer .textarea
	// display: block 		//reset from inline
	// resize: none

	// overflow-y: auto   	//resets IE
	// overflow-x: hidden 	//resets IE

	// width: 100%
	// height: 100%

	// margin: 0 			//remove defaults
	// padding: 4px

	// border: 0px solid lightgrey
	// // background: lightgrey

	// -moz-box-sizing: border-box
	// -webkit-box-sizing: border-box
	// box-sizing: border-box

// ------------------------------------------------------------------ *

#id-div-customizer
	// background-color: green
	// position: absolute
	// top: 0
	// left: 0
	// right: 0
	// bottom: 0

#id-div-customizer table
	// width: 100%


	// margin-top: 5px
	// padding: 2px
	// width: 100%
	// height: 100vh

// ------------------------------------------------------------------ *
// EDITOR
// ------------------------------------------------------------------ *

#template-editor
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0

// ------------------------------------------------------------------ *
// RENDER-DATA
// ------------------------------------------------------------------ *

#id-div-renderData
	// background-color: black
	// padding-top: 5px
	// height: 230px
	// align:  center

#id-label-renderData
	// padding-left: 10px
	// color: white;

#id-textArea-renderData
	//

// ------------------------------------------------------------------ *
// RENDER-TMPL
// ------------------------------------------------------------------ *

#id-div-renderTmpl
	// background-color: black
	// height: 230px

#id-label-renderTmpl
	// padding-top: 5px
	// padding-left: 10px
	// color: white;

#id-textArea-renderTmpl
	//

// ------------------------------------------------------------------ *
// RENDER-HTML
// ------------------------------------------------------------------ *

#id-div-renderHtml
	// background-color: black
	// height: 230px

#id-label-renderHtml
	// padding-top: 5px
	// padding-left: 10px
	// color: white;

#id-textArea-renderHtml
	//

/* ------------------------------------------------------------------ *
 * END
 * ------------------------------------------------------------------ */