/* ------------------------------------------------------------------ *
 * DECLARATIONS
 * ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ *
 * COMMON | HEAP & STACK
 * ------------------------------------------------------------------ */

div._chess
  border: 1px black solid

table._chess
	margin: 0 auto
	border-collapse: collapse
    padding: 1px

table._chess td
    text-align: center;
    width: 20px
    height: 20px

table._chess tr:nth-child(odd) td:nth-child(even), 
table._chess tr:nth-child(even) td:nth-child(odd)
    background: white
    color: black

table._chess tr:nth-child(even) td:nth-child(odd), 
table._chess tr:nth-child(odd) td:nth-child(even)
    color: black

/* ------------------------------------------------------------------ *
 * END
 * ------------------------------------------------------------------ */