@import 'nib'

// ---------------------------------------------------------------------------------------------------------------------
// TEST: DOC-LIST
// ---------------------------------------------------------------------------------------------------------------------

.div-docList-test
  //overflow: scroll
  //overflow: hidden
  border: 2px solid green

// ---------------------------------------------------------------------------------------------------------------------
// DOC-LIST
// ---------------------------------------------------------------------------------------------------------------------

.div-docList-add
  //border: 5px solid blue
  padding: 2px

.div-docList-add ::-webkit-input-placeholder
  font-style: italic

.div-docList-add ::-moz-placeholder
  font-style: italic

// ---------------------------------------------------------------------------------------------------------------------

.docItem-edit
  width: 115px

#id-txt-add-docItem
  width: 145px

//#id-btn-add-docItem

.div-docList
  padding-top: 25px
  //border: 5px solid green
  //overflow-y: auto

//#id-docList
  //overflow: visible
  //overflow: scroll
  //overflow: auto
  //overflow: hidden
  //border: 1px solid red

// ---------------------------------------------------------------------------------------------------------------------
// EDITOR
// ---------------------------------------------------------------------------------------------------------------------

// .editor-container
//     position: relative

#editor
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    //box-shadow 0px 0px 5px 5px rgba(0, 0, 0, 0.4);

// ---------------------------------------------------------------------------------------------------------------------
// END
// ---------------------------------------------------------------------------------------------------------------------
